<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- <script src="./assets/js/jquery-3.6.0.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- lightbox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <div class="bg-light">
      <ul class="header d-flex justify-content-end mr-2">
        <li><a href="" class="p-1 fb-blue"><i class="fab fa-facebook-square mr-1"></i>粉絲團</a></li>
        <li><a href="" class="p-1 tw-blue"><i class="fab fa-twitter mr-1 pl-2"></i>追隨我們</a></li>
      </ul>
    </div>
    <div class="container">
      <nav class="d-flex justify-content-between">
        <h1 class="logo"><a href=""><img src="./assets/images/logo.png" alt="六角學院"></a></h1>
        <ul class="navbar d-flex align-items-center">
          <li>
            <a href="" class="fw-bold pr-5 pl-5 pt-2 pb-2 ">首頁</a>
          </li>
          <li>
            <a href="" class="dropdown fw-bold pr-5 pl-5 pt-2 pb-2">產品介紹</a>
            <ul class="dropdown-open d-none">
              <li><a href="" class="fw-bold text- center">Html5基礎教學</a></li>
              <li><a href="" class="fw-bold text- center">響應式網站設計</a></li>
              <li><a href="" class="fw-bold text- center">jQuery實戰教學</a></li>
            </ul>
          </li>
          <li>
            <a href="" class="fw-bold pr-5 pl-5 pt-2 pb-2">聯絡我們</a>
          </li>
        </ul>
      </nav>
    </div>
    
  </header>
  <%- contents %>

  <footer class="footer">
    
    <div class="container">
      <div class="d-flex justify-content-between">
        <a href="" ><img src="./assets/images/footerLogo.png" alt="六角學院" class="ml-5"></a>
        <ul>
          <li><h4>聯絡我們：<a href="mailto:" class="d-inline fw-bold">hexschool@gmail.com</a></h4></li>
          <li><h4>電話：<a href="tel:+" class="d-inline fw-bold">0999123456</a></h4></li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="backtotop"><a href="" class="btn-backtotop"><i class="far fa-arrow-alt-circle-up"></i></a></div>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- 用本機端的就無法套用 -->
  <!-- <script src="./assets/js/jquery-3.6.0.min.js"></script> -->
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
  <!-- lightbox -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  <!-- 用本機端的就無法套用 -->
  <!-- <script src="./assets/js/lightbox.min.js"></script> -->

  <script src="./assets/js/all.js"></script>

</body>

</html>
