.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide  {
      img{
        display: block;
        width: 100%;
        height: 350px;
      }
  }
.banner{
    position: relative;
    margin-top: -5px;  
    &-bg{
        background: rgba(12, 10, 10, 0.5);
        width: 100%;
        position: absolute;
        bottom: 30%;
        z-index: 1070;
        height: 120px;
    }
    &-text{
        padding: 24px 24px;
        color: $white;
        
    }
    
   
}
.card{
    max-width: 33.3%;
    width: 300px;
    padding: 20px;
    box-shadow:0px 3px 1px 1px rgba(0, 0, 0, 1); 
    &-img{
        text-align: center;
        height: 140px;    
        img{
            margin: 0 auto;
        }
    }
    &-text-list{
        list-style-type:disc;
        padding-left: 24px;
    }
}
.courseCompare-table{
    max-width: 900px;
    margin: 0 auto;
    th{
        text-align: left;
        width: 190px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px solid rgb(212, 208, 208);
        border-bottom: 1px solid rgb(212, 208, 208);
    }
    td{
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px solid rgb(212, 208, 208);
        border-bottom: 1px solid rgb(212, 208, 208);
    }
}
.contactbox{
    background: url('../../../assets/images/background.jpg')  repeat-x ;
    color: $white;
    &-area{
        max-width: 962px;
        margin: 0 auto;
    }
    &-info{
        input{
            width: 350px;
            padding: 4px;
            border-radius: 2px;
            border: 1px solid $light;
            &::placeholder{
                color: $dark;
            }
        }
    }
    &-btn{
        text-align: right;
        input{
            background: $primary;
            color: $white;
            border-radius: 4px;
            border: 1px solid $primary;
            padding: 8px 20px;
        }
    }
}