/*margin*/

@each $num in 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15{
    .m-#{$num}{
        margin: $spacer * $num;
    }
    .mt-#{$num}{
        margin-top: $spacer * $num ;
    }
    .mr-#{$num}{
        margin-right: $spacer * $num;
    }
    .mb-#{$num}{
        margin-bottom: $spacer * $num;
    }
    .ml-#{$num}{
        margin-left: $spacer * $num;
    }
}

/*padding*/
@each $num in 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,20{
    .p-#{$num}{
        padding: $spacer * $num;
    }
    .pt-#{$num}{
        padding-top: $spacer * $num ;
    }
    .pr-#{$num}{
        padding-right: $spacer * $num;
    }
    .pb-#{$num}{
        padding-bottom: $spacer * $num;
    }
    .pl-#{$num}{
        padding-left: $spacer * $num;
    }
}

/*dispaly*/
.d-{
    &block{
        display: block;
    }
    &inblock{
        display: inline-block;
    }
    &none{
        display: none;
    }
    &flex{
        display: flex;
    }
    &inline{
        display: inline;
    }
}

.f-wrap{
    flex-wrap: wrap;
}

.justify-content-{
    &between{
        justify-content: space-between;
    }
    &center{
        justify-content: center ;
    }
    &end{
        justify-content:flex-end;
    }
}
.align-items-{
    &center{
        align-items: center ;
    }
}

/*text*/
.fw-bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.fb-blue{
    color: #425f9c;
}
.tw-blue{
    color: #00aaf6;
}
.font-primary{
    color: $primary;
}


/*background*/
.bg-light{
    background: $light;
}